@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  display: flex;
}

a {
  text-decoration: none; /* Remove the underline */
  color: inherit; /* Optional: Keeps the text color consistent */
}

a:hover {
  text-decoration: none; /* Ensures no underline on hover */
}

.sidebar{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 110px;
    height: 100vh;
    padding: 0 1.7rem;
    color: #fff;
    overflow: hidden;
    transition: all 0.5s linear;
    background: rgba(42, 197, 135, 0.997);

}
.sidebar:hover {
  width: 240px;
  transition: 0.5s;
}
.logo {
    height: 150px;
    padding: 100px;
}
.menu {
  height: 88%;
  position: relative;
  list-style: none;
  padding: 0;

}
.menu li {
  padding: 1rem;
  margin: 8px 0;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}
.menu li:hover,
 .active {
  background: #5e484858;

}
.menu a {
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.menu a span {
  overflow: hidden;
}
.menu a i {
  font-size: 1.2rem;
}

.main--content{
  position: relative;
  background: #ebe5e5;
  width: 100%;
  padding: 1rem;
}

.header--wrapper img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
}
.header--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #fff;
  border-radius: 10px;
  padding: 10px 2rem;
  margin-bottom: 1rem;
}
.header--title {
  align-items: center;
  color: rgba(42, 197, 135, 0.997);
}
.user--info {
  display: flex;
  align-items: counter;
  gap: 1rem;

}
.search--box{
  background: rgb(237, 237, 237);
  border-radius: 15px;
  color: rgba(42, 197, 135, 0.997);
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 4px 12px;
}
.search--box input {
  background: transparent;
  padding: 10px;
}
.search--box i {
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.search--box i:hover {
  transform: scale(1.2);
}

/* Card Container */ 
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:rgb(255, 255, 255);
  padding: 2rem;
  border-radius: 10px;
}

.card--wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-left: 5em;
}
.main--title {
  color: rgba(6, 7, 7, 0.997);
  padding-bottom: 10px;
  font-size: 20px;
}
.payment--card{ 
  background: rgb(299, 223, 223);
  border-radius: 10px;
  padding: 1.2rem;
  width: 290px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition:  all 0.5s ease-in-out;
}
.payment--card:hover {
  transform: translateY(-5px);

}
.card--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.amount {
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 12px;
  font-weight: 200;
}
.amount--value {
  font-size: 24px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}
.icon {
  color:#fff;
  padding: 1rem;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50%;
  font-size: 1.5rem;
  background: rgb(254, 197, 9);
}
.card--detail{
  font-size: 18px;
  color: #777777;
  letter-spacing: 2px;
  font-family: "Courier New", Courier, monospace;

}

/* Set a fixed height for the table container */
 .table-container {
  height: 300px; /* Adjust the height as needed */
  overflow-y: auto; /* Enables vertical scrolling */
}

/* Make sure the table takes the full width of its container */
#transactionTable {
  width: 100%;
  border-collapse: collapse;
}

/* Style for table header */
#transactionTable thead th {
  position: sticky;
  top: 0;
  background-color: rgba(42, 197, 135, 0.997);
}


/* Colors of CSS */
.light-yellow {
  background: rgb(250, 250, 188); /* light yellow */
}

.light-red {
  background: rgb(255, 204, 204); /* light red */
}

.light-purple {
  background: rgb(229, 204, 255); /* light purple */
}

.light-blue {
  background: rgb(204, 229, 255); /* light blue */
}

.dark-yellow {
  background: rgb(204, 204, 0); /* dark yellow */
}

.dark-red {
  background: rgb(204, 0, 0); /* dark red */
}

.dark-purple {
  background: rgb(102, 0, 204); /* dark purple */
}

.dark-blue {
  background: rgb(0, 0, 153); /* dark blue */
}
/* Table */

.tabular--wrapper {
  background: #fff;
  margin-top: 1rem;
  border-radius: 10px;
  padding: 2rem;
}
.table-container {
  width: 100%;
}
table {
  width: 100%;
  border-collapse: collapse;
}
thead {
  background: rgba(42, 197, 135, 0.997);
  color:#fff
}
th {
  padding: 15px;
  text-align: left;
}
tbody {
  background: #f2f2f2;
}
td{
  padding: 15px;
  font-size: 14px;
  color: #333;
}
tr:nth-child(even) {
  background: #fff;
}
tfoot {
  background: rgba(42, 197, 135, 0.997);
  font-weight: bold;
  color: #fff;
}
tfoot td {
  padding: 15px;
}
.table-container button {
  color: green;
  background: none;
}