<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Motion Finance: Dashboard</title>
  <link rel="stylesheet" href="/static/css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
</head>
<body>
    <div class="sidebar">
        <div class="logo"></div>
        <ul class="menu">
            <li class="active">
                <a href="/test-connection">
                    <i class="fas fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/test-connection">
                    <i class="fas fa-robot"></i>
                    <span>BudgetBot</span>
                </a>
            </li>
            <li>
                <a href="/test-connection">
                    <i class="fas fa-user"></i>
                    <span>Profile</span>
                </a>
            </li>
            <li class="logout">
                <a href="/logout">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="main--content">
        <div class="header--wrapper">
          <div class="header--title">
            <h2>Dashboard</h2>
          </div> 
        </div>

        <div class="card-container">
            <h3 class="main--title">Hello, {{username}}</h3>
            <h3 class="main--title">This Month's Spending Report</h3>
            <img src = "/static/images/financepie.png">
            <div class="card--wrapper">
                <a href="/specific?category=Automotive/Gas" class="card-link">
                    <div class="payment--card light-yellow">
                        <div class="card--header">
                            <div class="amount">
                                <span class="title">Automotive/Gas</span>
                                <span class="amount--value">{{"$%.2f" | format(transaction_totals.get('Automotive/Gas'))}}</span>
                            </div>
                            <i class="fas fa-car-side icon"></i>
                        </div>
                        <span class="card--detail"> **** **** **** 1738</span>
                    </div>
                </a>
                <a href="/specific?category=Entertainment" class="card-link">
                    <div class="payment--card light-yellow">
                        <div class="card--header">
                            <div class="amount">
                                <span class="title">Entertainment</span>
                                <span class="amount--value">{{"$%.2f" | format(transaction_totals.get('Entertainment'))}}</span>
                            </div>
                            <i class="fas fa-dollar-sign icon"></i>
                        </div>
                        <span class="card--detail"> **** **** **** 1738</span>
                    </div>
                </a>
                <a href="/specific?category=Rent/Utility" class="card-link">
                    <div class="payment--card light-yellow">
                        <div class="card--header">
                            <div class="amount">
                                <span class="title">Rent/Utilities</span>
                                <span class="amount--value">{{"$%.2f" | format(transaction_totals.get('Rent/Utility'))}}</span>
                            </div>
                            <i class="fas fa-house-chimney-crack icon"></i>
                        </div>
                        <span class="card--detail"> **** **** **** 1738</span>
                    </div>
                </a>
                <a href="/specific?category=Food" class="card-link">
                    <div class="payment--card light-yellow">
                        <div class="card--header">
                            <div class="amount">
                                <span class="title">Food</span>
                                <span class="amount--value">{{"$%.2f" | format(transaction_totals.get('Food'))}}</span>
                            </div>
                            <i class="fas fa-pizza-slice icon"></i>
                        </div>
                        <span class="card--detail"> **** **** **** 1738</span>
                    </div>
                </a>
                <a href="/specific?category=Supplies" class="card-link">
                    <div class="payment--card light-yellow">
                        <div class="card--header">
                            <div class="amount">
                                <span class="title">Supplies</span>
                                <span class="amount--value">{{"$%.2f" | format(transaction_totals.get('Supplies'))}}</span>
                            </div>
                            <i class="fas fa-truck-loading icon"></i>
                        </div>
                        <span class="card--detail"> **** **** **** 1738</span>
                    </div>
                </a>
                <a href="/specific?category=Medical" class="card-link">
                    <div class="payment--card light-yellow">
                        <div class="card--header">
                            <div class="amount">
                                <span class="title">Medical</span>
                                <span class="amount--value">{{"$%.2f" | format(transaction_totals.get('Medical'))}}</span>
                            </div>
                            <i class="fas fa-hospital-user icon"></i>
                        </div>
                        <span class="card--detail"> **** **** **** 1738</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="tabular--wrapper">
            <h3 class="main--title">All Transactions</h3>
            <div class="table-container">
                <table id="transactionTable">
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Description</th>
                            <th>Amount</th>
                            <th>Category</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    {% for tsac in allTsacs %}
                        <tbody>
                            <td>{{tsac['date']}}</td>
                            <td>{{tsac['description']}}</td>
                            <td>{{"$%.2f" | format(tsac['amount'])}}</td>
                            <td>{{tsac['transaction_type']}}</td>
                            <td>Complete</td>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

</body>
</html>
