<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Dashboard Design | By Code Info</title>
  <link rel="stylesheet" href="/static/css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
</head>
<body>
    <div class="sidebar">
        <div class="logo"></div>
        <ul class="menu">
            <li class="active">
                <a href="/test-connection">
                    <i class="fas fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/test-connection">
                    <i class="fas fa-robot"></i>
                    <span>BudgetBot</span>
                </a>
            </li>
            <li>
                <a href="/test-connection">
                    <i class="fas fa-user"></i>
                    <span>Profile</span>
                </a>
            </li>
            <li class="logout">
                <a href="/test-connection">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="main--content">
        <div class="header--wrapper">
          <div class="header--title">
            <span>Home</span>
            <h2>Dashboard</h2>
          </div> 
          <div class="user--info">
            <div class="search--box">
            <i class="fa-solid fa-search"></i>
            <input type="text" placeholder="Search">
            </div>
            <img src="../static/images/grey.png" alt=""/> 
        </div>
        </div>

        <div class="card-container">
            <h3 class="main--title">Today's Spending</h3>
            <div class="card--wrapper">
                <a href="/test-connection" class="card-link">
                    <div class="payment--card light-yellow">
                        <div class="card--header">
                            <div class="amount">
                                <span class="title">Automotive/Gas</span>
                                <span class="amount--value">$500.00</span>
                            </div>
                            <i class="fas fa-car-side icon"></i>
                        </div>
                        <span class="card--detail"> **** **** **** 1234</span>
                    </div>
                </a>
                <a href="/test-connection" class="card-link">
                    <div class="payment--card light-yellow">
                        <div class="card--header">
                            <div class="amount">
                                <span class="title">Entertainment</span>
                                <span class="amount--value">$500.00</span>
                            </div>
                            <i class="fas fa-dollar-sign icon"></i>
                        </div>
                        <span class="card--detail"> **** **** **** 1234</span>
                    </div>
                </a>
                <a href="/test-connection" class="card-link">
                    <div class="payment--card light-yellow">
                        <div class="card--header">
                            <div class="amount">
                                <span class="title">Rent/Utilities</span>
                                <span class="amount--value">$500.00</span>
                            </div>
                            <i class="fas fa-house-chimney-crack icon"></i>
                        </div>
                        <span class="card--detail"> **** **** **** 1234</span>
                    </div>
                </a>
                <a href="/test-connection" class="card-link">
                    <div class="payment--card light-yellow">
                        <div class="card--header">
                            <div class="amount">
                                <span class="title">Food</span>
                                <span class="amount--value">$500.00</span>
                            </div>
                            <i class="fas fa-pizza-slice icon"></i>
                        </div>
                        <span class="card--detail"> **** **** **** 1234</span>
                    </div>
                </a>
                <a href="/test-connection" class="card-link">
                    <div class="payment--card light-yellow">
                        <div class="card--header">
                            <div class="amount">
                                <span class="title">Supplies</span>
                                <span class="amount--value">$500.00</span>
                            </div>
                            <i class="fas fa-truck-loading icon"></i>
                        </div>
                        <span class="card--detail"> **** **** **** 1234</span>
                    </div>
                </a>
                <a href="/test-connection" class="card-link">
                    <div class="payment--card light-yellow">
                        <div class="card--header">
                            <div class="amount">
                                <span class="title">Medical</span>
                                <span class="amount--value">$500.00</span>
                            </div>
                            <i class="fas fa-hospital-user icon"></i>
                        </div>
                        <span class="card--detail"> **** **** **** 1234</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="tabular--wrapper">
            <h3 class="main--title">Finance Data</h3>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Transaction Type</th>
                            <th>Description</th>
                            <th>Amount</th>
                            <th>Category</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td>10-5-2024</td>
                        <td>Credit Card</td>
                        <td>AMC</td>
                        <td>$100</td>
                        <td>Entertainment</td>
                        <td>Pending</td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
