<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Motion Finance: Profile</title>
  <link rel="stylesheet" href="/static/css/style.css" />
  <link rel="stylesheet" href="/static/css/profile.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
</head>
<body>
    <div class="sidebar">
        <div class="logo"></div>
        <ul class="menu">
            <li>
                <a href="/test-connection">
                    <i class="fas fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/test-connection">
                    <i class="fas fa-robot"></i>
                    <span>BudgetBot</span>
                </a>
            </li>
            <li class="active">
                <a href="/test-connection">
                    <i class="fas fa-user"></i>
                    <span>Profile</span>
                </a>
            </li>
            <li class="logout">
                <a href="/logout">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="main--content">
        <div class="upload-container">
            <div class="upload-box light-blue">
                <h2>Currently signed into: {{username | capitalize}}</h2>
                <form action="/upload" method="POST" enctype="multipart/form-data">
                    <div class="input-group">
                        <label for="file">Upload new bank statement (PDF):</label>
                        <input type="file" id="file" name="file" required>
                    </div>
                    <button type="submit" class="btn">Upload</button>
                </form>
    
                {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                  <div class="flash-messages">
                    {% for category, message in messages %}
                      <div class="alert {{ category }}">
                        {{ message }}
                      </div>
                    {% endfor %}
                  </div>
                {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>

</body>
</html>
