<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Motion Finance: {{category}}</title>
  <link rel="stylesheet" href="/static/css/specific.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
</head>
<body>
    <div class="sidebar">
        <div class="logo"></div>
        <ul class="menu">
            <li>
                <a href="/test-connection">
                    <i class="fas fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/test-connection">
                    <i class="fas fa-robot"></i>
                    <span>BudgetBot</span>
                </a>
            </li>
            <li>
                <a href="/test-connection">
                    <i class="fas fa-user"></i>
                    <span>Profile</span>
                </a>
            </li>
            <li class="logout">
                <a href="/logout">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="main--content">
        <div class="header--wrapper">
          <div class="header--title">
            <h2>{{category}}</h2>
          </div> 
        </div>

        <div class="card-container">
            <h3 class="main--title">{{username | capitalize}}'s Usage this Month</h3>
            <h3 class="main--title">{{"$%.2f" | format(tsac_total)}}</h3>
            <img src="/static/images/specpie.png", style="width: 50%; height: auto;">
        </div>

    <div class="main--content">
        <div class="header--wrapper">
            <div class="header--title">
            <h2>BudgetBot Tip: {{tip}}</h2>
            </div> 
        </div>

        <div class="tabular--wrapper">
            <h3 class="main--title">{{category}} Transactions</h3>
            <div class="table-container">
                <table id="transactionTable">
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Description</th>
                            <th>Amount</th>
                            <th>Category</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    {% for tsac in tsac_data %}
                        <tbody>
                            <td>{{tsac['date']}}</td>
                            <td>{{tsac['description']}}</td>
                            <td>{{"$%.2f" | format(tsac['amount'])}}</td>
                            <td>{{tsac['transaction_type']}}</td>
                            <td>Complete</td>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

</body>
</html>
